@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #ffd9b8;
  --color-background-light: #f8f7f5;
  --color-background-dark: #23180f;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
}
